body,div,form,span,p,img{
	padding: 0px;
	margin: 0px;
}

.clearfix:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}

.clearfix {
	*zoom: 1; /* IE6 IE7 触发hasLayout*/
}

.hide {
	display: none;
}



