.fm-input > span {
    width: 20%;
    /*  height: 30px;
      line-height: 30px;*/
    display: inline-block;
    margin-bottom: 10px;
    /* float: left;
     display: block;*/
}

/*.fm-input>span input{
    height: 20px;
}*/

.fm-input .rq {
    margin-left: 3px;
    height: 25px;
    line-height: 25px;
    color: red;
    vertical-align: middle;
}

.btn-nav-left {
    padding: 10px 10px;
    text-align: left;
}

.btn-nav-right {
    padding: 10px 25px 0px 0px;
    text-align: right;
}

.btn-nav-center {
    padding: 10px 10px;
    text-align: center;
}

.btn-nav-left a:not(:last-child),.btn-nav-right a:not(:last-child) {
    margin-right: 20px;
}

/*.btn-nav-right a:not(:last-child) {
    margin-right: 20px;
}*/
.dg-toolbar{
    padding: 10px 10px 5px 10px;
}
.dg-table {
    padding-left: 0px;
    width: 100%;
    height: 100%;
}

.dg-table table {
    /*align:center;*/
    text-align: center;
    /*height: 100%;
    width: 100%;*/
}

.dg-table #dg {
    height: 100%;
    width: 100%;
}

.dg-table table tr{
    height: 40px;
}

/*.dg-table .datagrid-body{
    height: 400px;
}*/

.dg-opt-btn{
    margin-right: 15px;
    display: inline-block;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
    height: 28px;
    width: 110px;
    /*padding: 10px 20px;*/
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #606266;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dg-opt-btn:focus, .dg-opt-btn:hover{
    color: #151516;
    border-color: #92959b;
    background-color: #b7bbc2;
}
.dg-opt-btn:active{
    font-weight: bold;
    color: #151516;
    border-color: #151516;
    /*background-color: #606266;*/
}



