.page{
    width: 100%;
    height: 100%;
    /*padding: 15px 10px 10px 15px;*/
}

/** 表单样式开始 **/
.page-fm-top{
    margin-top: 40px;
}

.page-fm-center{
    text-align: center;
}

.fm-input-left > span {
    width: 20%;
    /*  height: 30px;
      line-height: 30px;*/
    display: inline-block;
    margin-bottom: 5px;
    /* float: left;
     display: block;*/
}

.fm-input-center > span {
    width: 270px;
    display: inline-block;
    margin-bottom: 5px;
}

.rq{
    margin-left: 3px;
    height: 30px;
    line-height: 30px;
    color: red;
    vertical-align: middle;
}
/** 表单样式结束 **/


/** 按钮样式开始 **/
.page-btn {
    width: 100%;
    padding: 10px 25px 0px 0px;
}

.page-btn a:not(:last-child){
    margin-right: 20px;
}

.page-btn-top {
    position: absolute;
    top: 30px;
    right: 10px;
    text-align: right;
}

.page-btn-right {
    text-align: right;
}

.page-btn-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 0px;
    text-align: center;
}
/** 按钮样式结束 **/



/** 表格工具栏样式开始 **/
.dg-toolbar{
    padding: 10px 10px 5px 10px;
}
/** 表格工具栏样式结束 **/


/** 表格样式开始 **/
.dg-table {
    padding-left: 0px;
    width: 100%;
    height: 100%;
}

.dg-table table {
    /*align:center;*/
    text-align: center;
    /*height: 100%;
    width: 100%;*/
}

.dg-table #dg {
    height: 100%;
    width: 100%;
}

.dg-table table tr{
    height: 40px;
}
/** 表格样式结束 **/

/** 表格按钮样式 **/
.dg-opt-btn{
    margin-right: 15px;
    display: inline-block;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
    height: 28px;
    width: 100px;
    /*padding: 10px 20px;*/
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #606266;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dg-opt-btn:focus, .dg-opt-btn:hover{
    color: #151516;
    border-color: #92959b;
    background-color: #b7bbc2;
}
.dg-opt-btn:active{
    font-weight: bold;
    color: #151516;
    border-color: #151516;
    /*background-color: #606266;*/
}



