<div id="dictDetailDiv" class="page">
    <div class="dg-toolbar">
        <div class="page-fm">
            <form id="fm">
                <div class="fm-input">
                    <input name="id" type="hidden"/>
                    <span>
                        <input name="groupCode" required="true"
                               prop="label:'字典组编号：';prompt:'请填写字典组编号';type:'text'"
                               data-options="validType:['minLength[2]','maxLength[20]']"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="dictCode" required="true"
                               prop="label:'字典编号：';prompt:'请填写字典编号';type:'text'"
                               data-options="validType:['minLength[2]','maxLength[20]']"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="sysCode" required="true"
                               prop="label:'系统编码：';prompt:'请填写系统编码';type:'text'"
                               data-options="validType:['minLength[2]','maxLength[20]']"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="groupDesc" required="true"
                               prop="label:'字典组描述：';prompt:'请填写字典组描述';type:'text'"
                               data-options="validType:['minLength[2]','maxLength[20]']"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="dictDesc" required="true"
                               prop="label:'字典描述：';prompt:'请填写字典描述';type:'text'"
                               data-options="validType:['minLength[2]','maxLength[20]']"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="dictOrder" required="true"
                                prop="label:'顺序：';prompt:'请填写顺序';type:'int';max:99"/>
                        <label class="rq">*</label>
                    </span>
                    <span>
                        <input name="isUse" required="true"
                                prop="label:'是否使用：';type:'select';dict:'TRUE_FALSE'"/>
                        <label class="rq">*</label>
                    </span>
                </div>
            </form>
        </div>
        <div class="page-btn">
            <a prop="event:'save'">保存</a>
            <a prop="event:'cancel'">取消</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="./script/common/dict_detail.js"></script>
