<div id="docuemntDiv" class="page">
    <div class="table-center">
        <table>
            <caption>
                <h1>个人简历</h1>
            </caption>
            <tr class="title-nobg">
                <td>梁峰（13418006543）</td> <td>JAVA 工程师</td>
            </tr>
            <tr class="title">
               <td colspan="2"> 个人信息 </td>
            </tr>
            <tr>
                <td colspan="2" class="td-list">
                    <ul>
                        <li>性别：男</li>
                        <li>出生年月：1991年09月</li>
                        <li>工作年限:：4年</li>
                        <li>学历：本科</li>
                        <li>邮箱：616611974@qq.com</li>
                        <li>居住地：广州</li>
                    </ul>
                </td>
            </tr>
            <tr class="title">
                <td colspan="2"> 技能特长 </td>
            </tr>
            <tr>
                <td colspan="2" class="td-list">
                    <p> 1.	后台开发框架：熟悉SpringCloud、SpringBoot、SpringMVC 、SpringSecurity, Mybatis、 Freemarker等等 </p>
                    <p> 2.	数据库:Oracle、Mysql、Redis, 数据库设计工具 PowerDesigner。</p>
                    <p> 3.	消息中间件：RabbitMq </p>
                    <p> 4.	版本管理工具：Git,SVN. 开发工具：Idea，Eclipse </p>
                    <p> 5.	前端：熟悉Jquery及Ajax的使用、EasyUI、Echart, 了解Agular js </p>
                    <p> 6.	应用服务器：Tomcat 、Jboss、Nginx </p>
                    <p> 7.	服务器系统：熟悉Linux CentOs </p>
                    <p> 8.	熟悉Java基础，JVM原理，数据结构，多线程编程，数据库优化 </p>
                </td>
            </tr>
            <tr class="title">
                <td colspan="2"> 教育背景 </td>
            </tr>
            <tr>
                <td colspan="2" class="td-list p-s-4">
                    <p> <span>2010.09 - 2014.06</span><span>湛江师范学院</span><span>信息与计算科学</span><span>本科</span> </p>
                </td>
            </tr>
            <tr class="title">
                <td colspan="2"> 工作经验 </td>
            </tr>
            <tr>
                <td colspan="2" class="td-list p-s-3">
                    <p><span>2017.11 - 至今</span><span>北京文思海辉金信软件有限公司</span>高级工程师</p>
                    <p><span>2015.10 - 2017.10</span><span>广东网金控股股份有限公司</span>中级java工程师</p>
                    <p><span>2014.04 - 2015.10</span><span>北京拓尔思信息技术股份有限公司广州分公司</span>java工程师</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="page-btn page-btn-top">
        <a prop="event:'downloadWord'">下载Word</a>
        <a prop="event:'downloadPDF'">下载PDF</a>
    </div>
</div>

<script type="text/javascript" src="./script/common/document.js"></script>
