<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jquery-EasyUI 管理后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="jquery,easyui,spring">
    <meta http-equiv="description" content="Jquery-EasyUI-Demo">
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link rel="bookmark" href="../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../resource/plugin/jquery-easyui-1.5.4/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/plugin/jquery-easyui-1.5.4/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/page.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/easyui_ext.css"/>
    <style>
        .page-top {
            height: 50px;
            background: url(../resource/img/main/main_north_bg.gif) #7f99be repeat-x center 50%;
            line-height: 50px;
            color: #fff;
            font-family: Verdana, 微软雅黑, 黑体;
            margin-top: 5px;
            overflow: hidden;
        }
        .page-left {
            width: 14%;
        }
        .page-center {
            width: 84%;
        }
        .page-bottom{
            height:20px; padding: 5px;text-align: center;line-height: 20px;overflow: hidden;
        }
    </style>
</head>

<body data-options="scroll:'no'" class="easyui-layout">

<!-- north 上方开始 -->
<div data-options="region:'north',split:true,border:false" class="page-top">
        <span style="padding-left:10px; font-size: 16px; ">
            <img src="../resource/img/main/main_sys_logo.png" style="width:25px;vertical-align: middle;"/>&nbsp;Jquery-EasyUI 管理后台
        </span>
</div>
<!-- north 上方结束 -->

<!-- west 左边开始 -->
<div data-options="region:'west',title:'导航菜单',split:true,hide:true" class="page-left">
    <div id="navDiv" data-options="fit:true,border:false" class="easyui-accordion">
        <div id="navTree" style="padding: 10px;"></div>
    </div>
</div>
<!-- west 左边结束 -->

<!-- center 中间开始 -->
<div data-options="region:'center'" class="page-center">
    <!-- <div id="tabs" class="easyui-tabs" data-options="fit:true">
         <div title="后台操作的界面" data-options="iconCls:'icon-home',closable:false" style="padding:10px;">后台操作界面的说明</div>
         <div style="text-align: center">这是内容。。。。。。。。。。。</div>
     </div>-->
    <div id="contDiv" class="easyui-layout panel-noscroll" data-options="fit:true">
        <h1>北京欢迎你！！！！</h1>
    </div>
</div>
<!-- center 中间结束 -->

<!-- south 底部开始 -->
<div data-options="region:'south',collapsible:false" class="page-bottom">
    版权所有，翻版必究
</div>
<!-- south 底部结束 -->

</body>
</html>
<script type="text/javascript" src="../resource/plugin/jquery-easyui-1.5.4/jquery.min.js"></script>
<script type="text/javascript" src="../resource/plugin/jquery-easyui-1.5.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../resource/plugin/jquery-easyui-1.5.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../resource/plugin/form/jquery.form.min.js"></script>
<script type="text/javascript" src="../resource/js/util/validator.js"></script>
<script type="text/javascript" src="../resource/plugin/ext/easyui/validatebox_ext.js"></script>
<script type="text/javascript" src="../resource/plugin/ext/common/property_ext.js"></script>
<script type="text/javascript" src="../resource/js/common/base.js"></script>
<script type="text/javascript" src="../resource/js/common/admin_ui_easyui.js"></script>
<script type="text/javascript" src="../resource/js/common/ajax.js"></script>
<script type="text/javascript" src="../resource/js/common/system.js"></script>
<script type="text/javascript" src="../resource/js/main.js"></script>
<script type="text/javascript" src="../view/script/page_data.js"></script>
